
html,
body{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  gap: 28px;
  color: #fff;
  background-color: #1C0901;
  font: 500 16px/1.4 system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

a {
  color: white;
}
